@charset "UTF-8";
/*

Style   : MobApp CSS
Version : 1.0
Author  : Surjith S M
URI     : https://surjithctly.in/

Copyright © All rights Reserved

*/
/* GLOBAL
----------------------*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  background-color: #f4f9fa; }

a {
  color: #8cc6e3; }
  a:hover, a:focus {
    color: #6174d6; }

h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
  margin-top: 10vh; }

h2 {
  font-size: 45px;
  font-weight: 300;
  color: #595959;
  letter-spacing: -1px;
  margin-bottom: 1rem; }

h3 {
  color: #595959;
  font-size: 33px;
  font-weight: 500; }

h4 {
  color: #595959;
  font-size: 20px;
  font-weight: 500; }

h5 {
  font-size: 28px;
  font-weight: 300;
  color: #595959;
  margin-bottom: 0.7rem; }

p {
  color: #8f9294; }
  p.lead {
    color: #8c9be3;
    margin-bottom: 2rem; }

ul {
  color: #8f9294; }
  ul:before {
    margin-bottom: 0 !important; }

hr {
  margin: 1rem auto;
  width: 50vw;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.white {
  color: white; }

.text-primary {
  color: #595959 !important;
  filter: brightness(1.2) contrast(0.4); }

.light-font {
  font-weight: 300; }

.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 1.35rem;
  transition: all 0.3s ease; }

.btn-outline-light:hover {
  color: #6174d6; }

.light-bg {
  background-color: #f4f9fa; }

.section {
  padding: 80px 0 0 0; }

.section-title {
  text-align: center;
  margin-bottom: 3rem; }
  .section-title small {
    color: #89969a; }

@media (max-width: 767px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 30px; } }
/* NAVBAR
----------------------*/
.navbar-brand img {
  max-height: 50px; }

.nav-menu {
  padding: 1rem 0;
  transition: all 0.3s ease; }
  .nav-menu.is-scrolling, .nav-menu.menu-is-open {
    background-color: #0d4b91;
    background: -moz-linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
    background: -webkit-linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
    background: linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1); }
  .nav-menu.is-scrolling {
    padding: 0; }

.navbar-nav .nav-link {
  position: relative; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px; }

  .navbar-nav > .nav-item > .nav-link.active:after {
    content: "";
    border-bottom: 2px solid #9ac8d5;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute; } }
@media (max-width: 991px) {
  .navbar-nav.is-scrolling {
    padding-bottom: 1rem; }
  .navbar-nav .nav-item {
    text-align: center; } }
/* HERO
----------------------*/
header {
  padding: 100px 0 0;
  text-align: center;
  color: white;
  min-height: 100vh; }

.bg-gradient {
  background-image: -moz-linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
  background-image: -webkit-linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
  background-image: -ms-linear-gradient(135deg, #3399cc 0%, #2e45b8 100%);
  background-image: linear-gradient(135deg, #3399cc 0%, #2e45b8 100%); }

.tagline {
  font-size: 23px;
  font-weight: 300;
  color: #b8dfff;
  max-width: 800px;
  margin: 0 auto; }

.round {
  border-radius: 50%; }

.img-holder img {
  max-width: 40vh;
  margin: 3em 0;
  filter: grayscale(0.3); }

/* FEATURES
----------------------*/
.gradient-fill:before {
  color: #6f84fb;
  background: -moz-linear-gradient(top, #3399cc 0%, #595959 100%);
  background: -webkit-linear-gradient(top, #3399cc 0%, #595959 100%);
  background: linear-gradient(to bottom, #3399cc 0%, #595959 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.card.features {
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  margin-bottom: 15px;
  margin-top: 15px; }
  .card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #6f84fb;
    background: -moz-linear-gradient(top, #3399cc 0%, #595959 100%);
    background: -webkit-linear-gradient(top, #3399cc 0%, #595959 100%);
    background: linear-gradient(to bottom, #3399cc 0%, #595959 100%);
    top: 0;
    bottom: 0;
    left: 0; }
  .card.features .feather {
    font-size: 3.5em;
    margin-top: -.2em;
    margin-right: 1rem;
    background: -webkit-linear-gradient(#3399cc, #595959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@media (max-width: 991px) {
  .card.features {
    margin-bottom: 2rem; }

  [class^="col-"]:last-child .card.features {
    margin-bottom: 0; } }
.card-text {
  font-size: 14px; }

.card.features:hover {
  transform: translateY(-3px);
  -moz-box-shadow: 0px 5px 30px 0px #00000014;
  -webkit-box-shadow: 0px 5px 30px 0px #00000014;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08); }

.accordion {
  margin-bottom: 2em;
  max-width: 680px;
  margin: auto; }
  .accordion .card {
    border: none;
    background-color: #f4f9fa; }
  .accordion .card-header {
    padding: .75rem 0;
    background-color: #f4f9fa;
    border: none; }
  .accordion .card-body {
    padding: .75rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125); }

table.cv {
  margin: auto; }
  table.cv td:nth-child(2n+1) {
    vertical-align: top;
    text-align: right;
    padding-right: 1em;
    border-right: 1px solid #ddd; }
  table.cv td:nth-child(2n) {
    vertical-align: top;
    text-align: left;
    padding-left: 1em; }

/*  CONTACT
----------------------*/
.kontakt {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 5em 0;
  width: 17em; }
  .kontakt h2 {
    color: white; }
  .kontakt .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #b8dfff;
    max-width: 650px;
    margin: 0 auto; }
  .kontakt .icon-smartphone {
    font-size: 4em; }
  .kontakt .kontakt-dane {
    text-align: left !important; }
    .kontakt .kontakt-dane i {
      margin-right: .5em; }

#map {
  height: 400px; }

.video {
  text-align: center !important;
  object-fit: cover;
  padding: 0 16px;
  height: 500px; }
  .video iframe {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
