:root {
    --text: #999;
    --text-darker: #666;
    --white-dimmed: #fff7;
    --gradient: linear-gradient(135deg, #3399cc, #293da3 100%);
    --color: #2e67b8;
    --shadow: 16.82px 16.82px 30px hsla(0, 0%, 4%, 0.3), -16.82px -16.82px 30px hsl(210, 100%, 70%);
    --shadow-color: 210deg 100% 70%;
    --shadow-low-tint:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-medium-tint:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-high-tint:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
    --tmp-col: 210deg 20% 70%;
    --shadow-low:
      0.3px 0.5px 0.7px hsl(var(--tmp-col) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--tmp-col) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--tmp-col) / 0.34);
    --shadow-medium:
      0.3px 0.5px 0.7px hsl(var(--tmp-col) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--tmp-col) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--tmp-col) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--tmp-col) / 0.36);
    --shadow-high:
      0.3px 0.5px 0.7px hsl(var(--tmp-col) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--tmp-col) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--tmp-col) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--tmp-col) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--tmp-col) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--tmp-col) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--tmp-col) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--tmp-col) / 0.34);
    --border: 1px solid rgba(153, 153, 153, 0.3);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #f4f9fa;
}

svg {
    fill: none;
    stroke: var(--color);
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

a {
    transition: all 1s ease;
    text-decoration: none;

}

a:hover {
    filter: brightness(1.05);
    
}

h1, h2, h3 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 2rem;
    color: var(--color);
}

p, ul {
    color: var(--text);
    margin: 0;
}

h2 {
    font-weight: 500;
}

strong {
    color: var(--color);
    filter:opacity(.8);
    font-weight: 400;
}

.rows {
    display: flex;
    gap: 1rem 2rem;
    text-align: justify;
    flex-wrap: wrap;
    flex-direction: row;
}

.rows p {
    line-height: 1.6rem;
    width: 20rem;
    flex-grow: 1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
}

#cv {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0;
    padding: 0;
    max-height: 0vh;
    overflow: hidden;
    transition: all .5s;
}

time {
    text-align: right;
    margin-right: 10px;
    margin-top: 0.2rem;
    color: var(--text);
}

.title, .description {
    text-align: justify;
    margin-left: 10px;
}

time, .description {
    font-size: small;
}

.description {
    white-space: pre-line;
}

.title {
    color: var(--text-darker);
}






.background {
    color: white;
}


